/* notosans */
@font-face {
  font-family: 'NotoSansJP-Regular';
  src: local('NotoSansJP-Regular'),
    url('./assets/fonts/notosansjp/NotoSansJP-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'NotoSansJP-Black';
  src: local('NotoSansJP-Black'),
    url('./assets/fonts/notosansjp/NotoSansJP-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'NotoSansJP-Bold';
  src: local('NotoSansJP-Bold'),
    url('./assets/fonts/notosansjp/NotoSansJP-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'NotoSansJP-ExtraLight';
  src: local('NotoSansJP-ExtraLight'),
    url('./assets/fonts/notosansjp/NotoSansJP-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'NotoSansJP-Light';
  src: local('NotoSansJP-Light'),
    url('./assets/fonts/notosansjp/NotoSansJP-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'NotoSansJP-Medium';
  src: local('NotNotoSansJP-Medium'),
    url('./assets/fonts/notosansjp/NotoSansJP-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'NotoSansJP-SemiBold';
  src: local('NotoSansJP-SemiBold'),
    url('./assets/fonts/notosansjp/NotoSansJP-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'NotoSansJP-Thin';
  src: local('NotoSansJP-Thin'),
    url('./assets/fonts/notosansjp/NotoSansJP-Thin.ttf') format('ttf');
}

/* inter */
@font-face {
  font-family: 'Inter-Black';
  src: local('Inter-Black'),
    url('./assets/fonts/inter/Inter-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-Bold';
  src: local('Inter-Bold'),
    url('./assets/fonts/inter/Inter-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: local('Inter-ExtraBold'),
    url('./assets/fonts/inter/Inter-ExtraBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-ExtraLight';
  src: local('Inter-ExtraLight'),
    url('./assets/fonts/inter/Inter-ExtraLight.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-Light';
  src: local('Inter-Light'),
    url('./assets/fonts/inter/Inter-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-Medium';
  src: local('Inter-Medium'),
    url('./assets/fonts/inter/Inter-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter-Regular'),
    url('./assets/fonts/inter/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: local('Inter-SemiBold'),
    url('./assets/fonts/inter/Inter-SemiBold.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-Thin';
  src: local('Inter-Thin'),
    url('./assets/fonts/inter/Inter-Thin.ttf') format('ttf');
}
